*.pyc
*.egg-info
*.sublime-project
*.sublime-workspace
npm-debug.log
.DS_Store
node_modules
bower_components
static/vendor
static/js
static/css
static/fonts
tmp
.tmp
.coverage
coverage_html_report
*.lprof
docs/build
.venv
.tox
dist
.cache
.sass-cache
