<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/vendor.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <!-- <script src="/static/vendor.min.js"></script> -->
        <!-- <script src="/static/mpld3.v0.3git.min.js"></script> -->
        <!-- <script src="/static/app.js"></script> -->
        <script src="/static/vendor.bundle.js"></script>
        <script src="/static/app.bundle.js"></script>
    </body>
</html>
