<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/vendor.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <script src="/static/vendor.bundle.js"></script>
        {% if transpile %}
            <script src="/static/app-es5.bundle.js"></script>
        {% else %}
            <script src="/static/app-jsx.bundle.js"></script>
        {% end %}
        <!-- <script src="/static/app.bundle.js"></script> -->
    </body>
</html>
