<!DOCTYPE html>
<html lang="en" class="ng-cloak">
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
 		<link rel="stylesheet" href="static/vendor/vendor.css">
 		<link rel="stylesheet" href="static/css/style.css">
 		<link rel="shortcut icon" href="static/img/favicon.ico">
	</head>
	<body ng-controller="AppController">
		{% if layout is defined and layout is not none %}
			{% include 'layouts/' + layout + '.html' %}
		{% else %}
			{{ body }}
		{% endif %}
    	<script src="static/vendor/vendor.js"></script>
    	<script src="static/js/app.js"></script>
	</body>
</html>