{% macro class_if(variable, class) %}
    {% if expr[variable] %}
        <div ng-class="{'{{ class }}': {{ args[variable] }}}">
            {{ caller() }}
        </div>
    {% else %}
        {% if args[variable] %}
            <div class="{{ class }}">
                {{ caller() }}
            </div>
        {% else %}
            {{ caller() }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro div_class_fmt(condition, default) %}
    {% if not condition %}
        {{ caller() }}
    {% else %}
        <div {{ class_fmt(default, **kwargs) }}>
            {{ caller() }}
        </div>
    {% endif %}
{% endmacro %}
